
:root {
    /* Properties */
    --offset-amount: calc(5px * 3);
    --blur-amount: calc(20px * 3);
    --spread-amount: calc(1px * 3);
    --transition-speed: 0.2s;

    /* Base Color */
    --base-color: rgb(212, 221, 230);
    --text-color: rgb(34, 48, 74);
    --text-color-secondary: rgba(34, 48, 74, 0.7);
    --contrast-color: rgb(100, 115, 141);
    --shadow-color: rgba(193, 211, 225, 1);
    --light-color: rgba(241, 245, 250, 1);
    --font-size-1: 2.7em;
    --font-size-2: 1.35em;
    --font-size-3: 0.90em;
    --icon-size: 2.6em;
    --mobile-size-multiplier: 2.65;

    /* Gradients */
    --base-gradient: linear-gradient(90deg, var(--base-color) 0%, var(--contrast-color) 100%);
}

[class*=icon].interactive:hover, [class*=icon].interactive.active, [class*=block].interactive:hover, [class*=block].interactive.active {
    --offset-amount: 10px;
    --base-color: rgba(217, 226, 225, 1);
}

/* Extra colors

.red {
    --offset-amount: 3px;
    --spread-amount: 0px;

    --base-color: rgba(231,41,31, 1);
    --text-color: rgba(255, 255, 255,1);
    --contrast-color: rgba(234,23,58, 1);
    --shadow-color: rgba(234,23,58, 0.3);
    --light-color: rgba(234,23,59, 0.3);
}
.red.interactive:not(.active) {
    --base-color: rgb(43, 19, 17);
    --shadow-color: rgba(0,0,0,0);
    --light-color: rgba(0,0,0,0);
}
.red.interactive:hover,.red.interactive.active {
    --base-color: rgba(241,51,41, 1);
    --shadow-color: rgba(234,23,58, 0.3);
    --light-color: rgba(234,23,59, 0.3);
}

.green {
    --offset-amount: 10px;
    --spread-amount: 1px;

    --base-color: rgba(45,165,45, 1);
    --text-color: rgba(255, 255, 255  );
    --contrast-color: rgba(34,135,34, 1);
    --shadow-color: rgba(34,135,34, 0.3);
    --light-color: rgba(34,135,34, 0.3);
}
.green.interactive:not(.active) {
    --base-color: rgb(23, 60, 23);
    --shadow-color: rgba(34,135,34, 0);
    --light-color: rgba(34,135,34, 0);
}
.green.interactive:hover,.green.interactive.active {
    --base-color: rgba(55,175,55, 1);
    --shadow-color: rgba(34,135,34, 0.3);
    --light-color: rgba(34,135,34, 0.3);
}

.blue {
    --offset-amount: 10px;
    --spread-amount: 1px;

    --base-color: rgba(60,73,188, 1);
    --text-color: rgba(255, 255, 255  );
    --contrast-color: rgba(131,137,229, 1);
    --shadow-color: rgba(131,137,229, 0.5);
    --light-color: rgba(131,137,229, 0.5);
}
.blue.interactive:not(.active) {
    --base-color: rgb(28, 32, 74);
    --shadow-color: rgba(131,137,229, 0);
    --light-color: rgba(131,137,229, 0);
}
.blue.interactive:hover,.blue.interactive.active {
    --base-color: rgba(70,83,198, 1);
    --shadow-color: rgba(131,137,229, 0.5);
    --light-color: rgba(131,137,229, 0.5);
}
*/

* {
    margin: 0;
    padding: 0;

    font-family: 'Lexend Tera', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    border-radius: 60px;
    color: var(--text-color);
    transition: background var(--transition-speed) ease, box-shadow var(--transition-speed) ease, color var(--transition-speed) ease;

    --outset-shadow: var(--offset-amount) var(--offset-amount) var(--blur-amount) var(--spread-amount) var(--shadow-color), calc(var(--offset-amount) * -1) calc(var(--offset-amount) * -1) var(--blur-amount) var(--spread-amount) var(--light-color);
    --inset-shadow: inset var(--offset-amount) var(--offset-amount) var(--blur-amount) var(--spread-amount) var(--shadow-color), inset calc(var(--offset-amount) * -1) calc(var(--offset-amount) * -1) var(--blur-amount) var(--spread-amount) var(--light-color);

}

body {
    display: flex;

    width: 100vw;

    align-items: center;
    justify-content: center;

    background: var(--base-color);

}

/*
.titulo{
    position: absolute;

    top: 2vh;
    left: 30px;

    font-size: 30px;

    font-family: 'Chewy', cursive;

    color: rgb(34,48,74);
}
*/

/*--CSS DEL ANUNCIO--*/

.anuncio {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    background: red;
    border-radius: 0;
}

/*--FIN CSS DEL ANUNCIO--*/

/*--CSS DEL BOTON DE SALIR--*/

.exit {
    top: 40px;
    right: 40px;
    position: absolute;
}

.exit i {
    font-size: 70px;
}

/*--FIN CSS DEL BOTON DE SALIR--*/

/*-CSS DEL BOTON INICIAL-*/

.btn {

    width: calc(62px * 3);
    height: calc(62px * 3);
    position: absolute;
    left: auto;
    right: auto;
    top: 35vh;
    border-radius: 55px;
    padding: 2px;
    box-shadow: var(--outset-shadow);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid var(--base-color);
}

.btn.hidden {
    opacity: 0;
}

.btn .inner-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 45px;

    transition: all 0.1s ease-in-out;
    display: grid;
    place-items: center;
}

.btn .inner-wrapper i {
    user-select: none;
    transition: all 0.1s ease-in-out;
    font-size: 96px;
    position: relative;
    color: var(--text-color);
    text-shadow: 2px 2px 2px #d6e1ef99, 0 0 0 #000, 2px 2px 2px #d6e1ef00;
}

.btn.active .inner-wrapper {
    box-shadow: var(--inset-shadow), var(--outset-shadow);
}


/*-FIN CSS DEL BOTON INICIAL-*/

/*-CSS DEL DIV PRINCIPAL-*/

.main {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: auto;
    padding: 40px;
    box-shadow: none;
    transition: opacity 0.5s ease-in-out;
    border-radius: 60px;

    margin: 50px;
    max-width: none;

}

.hidden {
    opacity: 0;
    /*box-shadow: 8px 4px 32px rgba(136, 165, 191, 0.48), -8px -4px 32px #ffffff;*/
}

.gameLabel {

    position: relative;
    margin-top: 50px;
    color: var(--text-color);

    font-size: calc(var(--font-size-1) * var(--mobile-size-multiplier));
    margin-bottom: 70px;

}

/*-FIN CSS DEL DIV PRINCIPAL-*/

/*-CSS DE LOS ICONOS-*/

.material-icons {
    font-size: calc(var(--icon-size) * var(--mobile-size-multiplier));
    color: var(--text-color);
    /*filter: drop-shadow(3px 3px 2px #a3b1c6) drop-shadow(-3px -3px 2px #ffffff);*/
    margin: 1rem;
}

/*-FIN CSS DE LOS ICONOS-*/

/*-CSS DE LA LISTA-*/
.list {

    position: relative;
    width: 80%;
    height: auto;
    margin-top: 50px;
    transition: opacity 0.5s ease-in-out;

}

.list .item {

    display: flex;
    align-items: center;
    cursor: pointer;

    border: 8px solid var(--base-color);
    margin-bottom: 90px;
    border-radius: 45px;

    box-shadow: var(--outset-shadow);

}

.list .item.active {
    box-shadow: var(--outset-shadow), var(--inset-shadow);

}

.list .item label {
    cursor: pointer;
    font-size: calc(var(--font-size-2) * var(--mobile-size-multiplier));
}

.list .item .descripcion {

    color: var(--text-color-secondary);
    font-size: calc(var(--font-size-3) * var(--mobile-size-multiplier));
}

/*-FIN CSS DE LA LISTA-*/

/*-CSS DE LA PREGUNTA-*/
.question {
    margin-top: 50px;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.question p {
    font-size: 4em;
    text-align: center;
}

.botones {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 20vh;
    display: flex;
    justify-content: space-around;
}

.botones div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
    width: calc(62px * 3);
    height: calc(62px * 3);
    border-radius: 55px;
    padding: 2px;
    box-shadow: var(--outset-shadow);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.5s ease-in-out;
    border: 8px solid var(--base-color);
}

.botones div.active {
    box-shadow: var(--inset-shadow), var(--outset-shadow);
}

.botones div i {
    font-size: 96px;
}

/*-FIN CSS DE LA PREGUNTA-*/
